*{
    box-sizing: border-box;
}
.gallery{
    display: flex;
    flex-flow: nowrap;
   overflow-y: hidden;
    overflow-x: auto;
   height: 225px;
    cursor: all-scroll;
}
.thumb{
    display: inline-block;
margin: 8px;

}