*{
    box-sizing: border-box;
}
.gallery{
    white-space:nowrap;
   overflow-y: hidden;
    overflow-x: scroll;
   height: 225px;
    cursor: all-scroll;
}
.thumb{
    display: inline-block;
margin: 8px;

}