@import 'breakpoints.scss';

* {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;
  @include for-screen{
      flex-direction: column;
  }
}


.square {
  width: 100px;
  height: 100px;
  background: $color-exsm;
  margin: 8px;

  @include for-medium-up {
    background: #8a2be2;
  }

  @include for-large-up{
    background: #a61;
  }

  @include for-extra-large{
      background-color: #c47;
  }
}


