*{
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.header{
    display: flex;
    align-items: center;
    height: 3em;
    padding-left: 1em;
    padding-right: 1em;
    background: #eee;
}

.burger{
    cursor: pointer;
    font-size: 2em;
    padding: 0px;
    border: none;
    background: none;
}
na
.nav-list{
    list-style-type: none;
    padding: 0;
}