*{
    box-sizing: border-box;
}
.dropdown{
    position: relative;
    display: inline-block;
    margin: 16px;
    font-size: 16px;
    color: white;
    padding: 16px;
    background-color: darkgreen;
    opacity: 0.8;
    cursor: pointer;
}

.menu-list{

    list-style-type: none;
    position: absolute;
    top: 50px;
    color: black;
    background-color: lightcyan;
    position: absolute;
    padding: 0px;
    margin: 0px;
    min-width: 120px;
    z-index: 1;
    display: none; 
}
.menu-item{
    padding: 16px;
}
.dropdown:hover{
    
    opacity: 1;
   
}
.dropdown:hover .menu-list{
    display: block;
    
   
}
 .menu-item:hover{
    
    background-color: ghostwhite;
}