.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.spinner {
}

.spinner-text {
  text-transform: uppercase;
  animation: blinking 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  font-family: monospace;
  animation-direction: alternate;
}

.rect {
  height: 4px;
  width: 10px;

  border-radius: 2px;

  position: relative;
  background-color: black;
  animation: moving 2s, blinking 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  animation-direction: alternate;
}
